@use 'tools' as *;

body {
    margin: 0;
    color: white;
    line-height: 1.4;
    background: var(--black);

    &:before {
        content: '';
        background-image: url('/assets/constellation-background.svg');
        background-repeat: repeat;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: -webkit-fill-available;
    }

    code,
    pre {
        font-family: var(--pro-hacker-font);
        font-size: 0.8em;
        background: #333;
        padding: 2px;
    }
}

main {
    margin: 1rem 0;
}

:is(ul, ol) > li {
    margin-block-end: 1rem;
}

h1 {
    margin-block-end: 0;
    
    > svg {
        max-width: 95vw;
        height: auto;
    }
}

h2 {
    margin-top: 2.4rem;
    scroll-margin-top: 1rem;
    
    + .header-anchor {
        font-size: 1.5em;
        margin-block-start: 2.4rem;
        margin-block-end: .83em;
        padding-inline: .25em;

        @supports not (padding-inline: .25em) {
        padding-inline-start: .25em;
        padding-inline-end: .25em;
        }
    }
}

blockquote {
    @include gradient-links;
    --bg: var(--grey-100);
    --gradient-accent-width: 0.5rem;
    margin-inline: 0;
    background: var(--bg);
    border-radius: 0 5px 5px 0;
    position: relative;
    padding: 1rem;
    padding-inline-start: calc(1rem + var(--gradient-accent-width));

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: var(--gradient-accent-width);
        background: linear-gradient(var(--pink), var(--yellow));
    }
}

article {
    @include gradient-links;

    max-width: var(--content-max-width);
    margin: auto;
    padding: 20px;
    background: linear-gradient(
        transparent,
        var(--black) 30px,
        var(--black) calc(100% - 30px),
        transparent
    );
}
