@use 'tools' as *;

:root {
    --content-max-width: 740px;
    --pink: #ff00d6;
    --yellow: #faff02;
    --primary: var(--pink); 
    --secondary: var(--yellow);

    --black: #121212;
    --grey-100: #333;

    --h1: 64px;
    --h2: 48px;
    --h3: 36px;
    --h4: 24px;

    --pro-hacker-font: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    --base-font: 'Atkinson', 'Open Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-family: var(--base-font);

    @media (min-width: breakpoint(mobile)) {
        font-size: 1.2rem;
    }
}

* {
    box-sizing: border-box;
    position: relative;
}