$mobile: 500px;
$tablet: 860px;

@import './docs.scss';
@import './home.scss';

@font-face {
  font-family: Atkinson;
  src: url('/assets/Atkinson/Atkinson-Hyperlegible-Regular.woff2'),
    url('/assets/Atkinson/Atkinson-Hyperlegible-Regular.woff'),
    url('/assets/Atkinson/Atkinson-Hyperlegible-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Atkinson;
  src: url('/assets/Atkinson/Atkinson-Hyperlegible-Italic.woff2'),
    url('/assets/Atkinson/Atkinson-Hyperlegible-Italic.woff'),
    url('/assets/Atkinson/Atkinson-Hyperlegible-Italic.ttf');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Atkinson;
  src: url('/assets/Atkinson/Atkinson-Hyperlegible-Bold.woff2'),
    url('/assets/Atkinson/Atkinson-Hyperlegible-Bold.woff'),
    url('/assets/Atkinson/Atkinson-Hyperlegible-Bold.ttf');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Atkinson;
  src: url('/assets/Atkinson/Atkinson-Hyperlegible-BoldItalic.woff2'),
    url('/assets/Atkinson/Atkinson-Hyperlegible-BoldItalic.woff'),
    url('/assets/Atkinson/Atkinson-Hyperlegible-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

:root {
  --content-max-width: 740px;
  --pink: #ff00d6;
  --yellow: #faff02;
  --primary: var(--pink);
  --secondary: var(--yellow);

  --black: #121212;
  --grey-100: #333;

  --h1: 64px;
  --h2: 48px;
  --h3: 36px;
  --h4: 24px;

  --pro-hacker-font: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

* {
  box-sizing: border-box;
  position: relative;
}

html {
  font-family: 'Atkinson', 'Open Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  font-size: 1.2rem;

  @media (max-width: $mobile) {
    font-size: 1rem;
  }
}

body {
  margin: 60px 0;
  color: white;
  line-height: 1.4;

  ul > li,
  ol > li {
    margin-bottom: 1rem;
  }

  code,
  pre {
    font-family: var(--pro-hacker-font);
    font-size: 0.8rem;
    background: #333;
    padding: 2px;
  }

  background: var(--black);

  &:before {
    content: '';
    background-image: url('/assets/constellation-background.svg');
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: -webkit-fill-available;
  }
}

h1 {
  margin-bottom: 0;
  > svg {
    max-width: 95vw;
    height: auto;
  }
}

@for $i from 1 through 9 {
  #banner-slinky-accent > path:nth-child(#{$i}) {
    opacity: 0;
    animation: fade-in 0.3s ease-in forwards;
    animation-delay: $i * 0.1s;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

article {
  max-width: var(--content-max-width);
  margin: auto;
  padding: 20px;

  background: linear-gradient(
    transparent,
    var(--black) 30px,
    var(--black) calc(100% - 30px),
    transparent
  );

  .demo-embed {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;

    @supports not (aspect-ratio: auto) {
      height: 400px;

      @media (max-width: $mobile) {
        height: 240px;
      }
    }

    border: 5px solid transparent;
    border-image: linear-gradient(var(--primary), var(--secondary)) 1;
  }
}

blockquote {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding-right: 20px;
  --bg: var(--grey-100);
  background: var(--bg);
  border-radius: 0 5px 5px 0;

  &::before {
    content: '';
    display: inline-block;
    width: 14px;
    margin-right: 20px;
    background: linear-gradient(var(--pink), var(--yellow));
  }
}

a,
a:visited {
  color: var(--primary);
  padding: 2px;
  transition: background-position-x 0.2s, color 0.2s;
  background: linear-gradient(
    80deg,
    var(--bg, var(--black)) 33%,
    var(--primary),
    var(--secondary)
  );
  background-size: 300% 100%;
  background-position-x: 0;

  &:hover {
    background-position-x: 100%;
    color: var(--black);
    text-decoration: none;
  }
}

h2 {
  margin-top: 2.4rem;
}

.tagline {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.twitter-cta {
  text-align: center;
  font-size: 1.2rem;

  @media (max-width: $mobile) {
    font-size: 1rem;
  }
}

.banner-container {
  display: flex;
  justify-content: center;

  #banner-slinky-accent {
    animation: saturate 4s ease-out infinite;
    filter: saturate(2);

    @keyframes saturate {
      0%,
      100% {
        opacity: 0.7;
      }
      50% {
        opacity: 1;
      }
    }
  }
}

.twitter-profile__container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 170px;
}
.twitter-profile {
  img {
    max-width: 150px;
    height: auto;
    border-radius: 100%;
    overflow: hidden;
  }
  h3 {
    text-align: center;
  }
  .twitter-profile__title {
    position: absolute;
    top: 140px;
    right: 0px;
    background: var(--primary);
    text-transform: uppercase;
    color: var(--black);
    font-size: 0.7rem;
    padding: 5px 10px;
    background: linear-gradient(80deg, var(--primary), var(--secondary));

    font-family: var(--pro-hacker-font);
  }
}

footer {
  padding: 10px;

  p {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    margin: auto;
    max-width: var(--content-max-width);
  }
}
