# Enforce LF line endings for all files checked into Git. Files may continue to use CRLF locally if they were created on a Windows machine (this is okay).
# https://www.aleksandrhovhannisyan.com/blog/crlf-vs-lf-normalizing-line-endings-in-git/#line-endings-in-git
* text=auto
