@use 'settings';

@function breakpoint($_breakpointName) {
    @if (map-has-key($map: settings.$breakpoints, $key: $_breakpointName)) {
        @return map-get($map: settings.$breakpoints, $key: $_breakpointName);
    } @else {
        @error "[fn] breakpoint: The breakpoint '#{$_breakpointName}' does not exist in $breakpoints!";
    }
}

@mixin gradient-link {
    color: var(--color-accent-4);
    padding: 2px;
    transition-property: background-position-x, color, opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    background: linear-gradient(
        80deg,
        var(--bg, var(--color-dark)) 33%,
        var(--gradient-slinkity)
    );
    background-size: 300% 100%;
    background-position-x: 0;

    &:where(:hover, :focus) {
        background-position-x: 100%;
        color: var(--color-dark);
        text-decoration: none;
    }
}

@mixin gradient-links {
    a, a:visited {
        @include gradient-link;
    }
}
