@keyframes saturate {
    0%,
    100% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.banner-container {
    display: flex;
    justify-content: center;

    #banner-slinky-accent {
        animation: saturate 4s ease-out infinite;
        filter: saturate(2);

        @for $i from 1 through 9 {
            & > path:nth-child(#{$i}) {
                opacity: 0;
                animation: fade-in 0.3s ease-in forwards;
                animation-delay: $i * 0.1s;
            }
        }
    }
}