.heading-link__container {
  display: flex;
  justify-content: center;
  gap: 20px;

  @media (max-width: 550px) {
    flex-direction: column;
    text-align: center;
  }
}

.heading-link {
  --bg: #2a2038;
  padding: 8px 14px;
  text-decoration: none;

  &:first-child {
    --bg: var(--pink);
    color: var(--black);
    font-weight: bold;
  }
}
