@use '../tools' as *;

.home__heading {
  max-width: 680px;
  margin-inline: auto;
  padding-inline: 1rem;
  
  &__tagline {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 2rem;
  }
  &__twitter-cta {
    @include gradient-links;

    text-align: center;
    font-size: 1.2rem;
    margin-block-end: 3rem;

    @media (max-width: breakpoint(mobile)) {
        font-size: 1rem;
    }
  }
}