@use '../tools' as *;

.center-content {
  display: grid;
  place-content: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--max-width, unset);
  gap: var(--gap, 2rem);
}

.hide {
  &__mobile {
    @media(max-width: breakpoint(mobile)) {
      display: none;
    }
  }
  &__tablet {
    @media(max-width: breakpoint(tablet)) {
      display: none;
    }
  }
}