<div class="contributor__container">
  {% for contributor in contributors %}
  <article class="contributor">
    <img class="contributor__image" src="{{contributor.imageUrl}}" alt="{{contributor.username}}">
    <a
      href="{{contributor.url}}"
      class="contributor__username"
      aria-describedby="{{contributor.username}}-title"
    >
      {{contributor.username}}
    </a>
    <p
      id="{{contributor.username}}-title"
      class="contributor__title"
    >
      {{contributor.title}}
    </p>
  </article>
  {% endfor %}
</div>