<footer class="site-footer">
  <p class="site-footer__content">Notice a typo? Something unclear? Submit a PR
    <a href="https://github.com/slinkity/slinkity">right over
                  here</a>
    :)</p>
</footer>