:root {
  --black: #121212;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--black);
  margin: 0;
  height: 100vh;
  margin-top: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  svg {
    animation: rotate 8s linear infinite;

    path {
      fill: #fff;
      stroke: #fff;
      stroke-width: 28;
      stroke-miterlimit: 10;
    }

    @keyframes rotate {
      to {
        transform: rotate(1turn);
      }
    }
  }
}
