---
layout: base
styles:
  - '/@root/styles/docs.scss'
---

<div class="docs">
  <nav class="docs__primary-nav">
    <div class="docs__primary-nav__content">
      <a class="docs__home-link" href="/docs">
        {% include 'slinkity-simplified-logo.svg' %}
        <span class="hide__tablet">Slinkity <i>docs</i>
        </span>
      </a>
      <a class="hide__tablet" href="/">Homepage</a>
      <a class="external-link" href="https://github.com/slinkity/slinkity">
        GitHub
        <span class="external-link__icon">
          {% include 'icons/external-link.svg' %}
        </span>
      </a>
    </div>
  </nav>
  <main class="docs__container">
    <ul class="docs__side-nav" role="list">
      <li>
        <span class="category">{{ navLinksSorted.guides.label }}</span>
        <ul role="list">
          {%- for link in navLinksSorted.guides.links -%}
            <li>
              <a href="{{ link.href }}" {% if link.href === page.url %}aria-current="page"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </li>
      <li>
        <span class="category">{{ navLinksSorted.reference.label }}</span>
        <ul role="list">
          {%- for link in navLinksSorted.reference.links -%}
            <li>
              <a href="{{ link.href }}" {% if link.href === page.url %}aria-current="page"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </li>
    </ul>
    <article class="docs__container__content" id="main-content" tabindex="-1">
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </article>
  </main>
</div>