---
layout: base
styles:
  - '/@root/styles/docs.scss'
---

<div class="docs">
  <nav class="docs__primary-nav">
    <div class="docs__primary-nav__content">
      <a class="docs__home-link" href="/docs">
        {% include 'slinkity-simplified-logo.svg' %}
        <span class="hide__tablet">Slinkity <i>docs</i>
        </span>
      </a>
      <a class="hide__tablet" href="/">Homepage</a>
      <a class="external-link" href="https://github.com/slinkity/slinkity">
        GitHub
        <span class="external-link__icon">
          {% include 'icons/external-link.svg' %}
        </span>
      </a>
    </div>
  </nav>
  <main class="docs__container" id="main-content">
    <ul class="docs__side-nav" role="list">
      {%- for navLink in navLinksSorted -%}
        <li>
          <a
          href="{{navLink.href}}"
          {% if navLink.href === page.url %}aria-current="page"{% endif %}
        >
            {{navLink.title}}
          </a>
        </li>
      {%- endfor -%}
    </ul>
    <article class="docs__container__content">
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </article>
  </main>
</div>