---
layout: base
styles:
  - '/@root/styles/home.scss'
---

<header class="home__heading">
  <div class="home__banner-container">
    {% include 'logo.njk' %}
  </div>
  <p class="home__heading__tagline">To eleventy and beyond</p>
  <p class="home__heading__twitter-cta">Follow along on <a href="https://twitter.com/slinkitydotdev">Twitter</a> for
    project updates ❤️</p>

  <blockquote>
    <div>
      <strong>Slinkity is now available as an early alpha!</strong> No, it's not ready for production use. But if you want to have some fun and don't mind logging bugs, head to the <a href="/docs/quick-start">quick start guide</a> :)
    </div>
  </blockquote>

  <div class="home__heading-link__container">
    <a class="home__heading-link" href="/docs/">Documentation</a>
    <a class="home__heading-link" href="https://www.npmjs.com/package/slinkity">npm package</a>
    <a class="home__heading-link" href="https://github.com/slinkity/slinkity">Star on GitHub</a>
  </div>
</header>

<main class="home__content" id="main-content">
  {{ content | safe }}
</main>