---
layout: base
styles:
  - '/@root/styles/home.scss'
---

<header class="home__heading">
  <div class="home__banner-container">
    {% include 'logo.njk' %}
  </div>
  <p class="home__heading__tagline">To eleventy and beyond</p>
  <p class="home__heading__twitter-cta">Follow along on <a href="https://twitter.com/slinkitydotdev">Twitter</a> for
    project updates ❤️</p>

  <blockquote>
    <div>
      <strong>⚠️ Slinkity is no longer maintained.</strong> The project owner <a href="https://github.com/bholmesdev">(@bholmesdev)</a> now works on <a href="https://astro.build">Astro</a> full-time. If you want to build component-driven content sites, give Astro a try! If you're committed to 11ty and want to use client components, consider <a href="https://www.11ty.dev/docs/languages/webc/">11ty's WebC project.</a>
    </div>
  </blockquote>

  <div class="home__heading-link__container">
    <a class="home__heading-link" href="/docs/">Documentation</a>
    <a class="home__heading-link" href="https://www.npmjs.com/package/slinkity">npm package</a>
    <a class="home__heading-link" href="https://github.com/slinkity/slinkity">Star on GitHub</a>
  </div>
</header>

<main class="home__content" id="main-content" tabindex="-1">
  {{ content | safe }}
</main>